:root {
    --primary-color: #547792;
    --secondary-color: #6989a1;
    --third-color: #99cce0;
    --hover-color: #47667e;
    --container-color: #47667e;
    --background-color: #213448;
    --text-color: #EAE0CF;
    --border-color: #94B4C1;

    --shadows-color: #7b7f81;
    --logo-color: #EAE0CF;
}