.workContainer {
    color: var(--text-color);
    background-color: var(--background-color);
}
.projectBox {
    color: #413f3c;
    background-color: var(--third-color);
    box-shadow: 0px 2px 2px var(--border-color);
}
.projectDescription {
    border-bottom: #413f3c 1px solid;
}